h2{
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-align: center;
}

body {
    background-color: rgba(208, 241, 241, 0.648);
}

figure  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}


 
